<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Valentine's Day Card</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="envelope" onclick="openLetter()">
      <div class="flap"></div>
      <div class="left-side"></div>
      <div class="right-side"></div>
      <div class="bottom-side"></div>
      <div class="letter">
        <h1>Dear Izzy,</h1>
        <p>Happy Valentine's Day!</p>
        <p>I wanted to make this to show you how much you mean to me!</p>
        <p>Thank you for being my girlfriend,</p>
        <p>- Skyler</p>
      </div>
    </div>
  </body>
</html>
