<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Happy Valentine's Day!</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Cookie&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Lobster&family=Style+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="photos-container left">
      <img src="/static/images/izzy_skyler1.jpg" alt="Photo 1" class="photo" />
      <img src="/static/images/izzy_skyler2.jpg" alt="Photo 2" class="photo" />
      <img src="/static/images/izzy_skyler3.jpg" alt="Photo 3" class="photo" />
    </div>

    <div class="photos-container right">
      <img src="/static/images/izzy_skyler4.jpg" alt="Photo 4" class="photo" />
      <img src="/static/images/izzy_skyler5.jpg" alt="Photo 5" class="photo" />
      <img src="/static/images/izzy_skyler6.jpg" alt="Photo 6" class="photo" />
    </div>

    <div class="envelope">
      <div class="flap"></div>
      <div class="left-side"></div>
      <div class="right-side"></div>
      <div class="bottom-side"></div>
      <div class="letter">
        <p>Happy Valentine's Day!</p>
        <p>
          I love you so much and hope you have a great day. I'm so grateful to
          have you in my life, thank you for being my best friend and the best
          girlfriend I could ever ask for!
        </p>
        <p>Will you be my Valentine?</p>
      </div>
    </div>
    <p class="greeting">Happy Valentine's Day!</p>

    <script src="static/js/script.js"></script>
  </body>
</html>
